.main_container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.main_container .line {
    background-color: #7cdb31;
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.title_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title_container .title_wrapper {
    width: 400px;
}

.btn_reg_container {
    width: 160px;
    display: flex;
    justify-content: end;
}

.btn_register {
    width: 190px;
    height: 50px;
}


.btn_register {
    padding: 12px 15px;
    background: #02B0E3;
    border: none;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn_register:hover {
    background: linear-gradient(0deg, #02779A, #02779A),
        linear-gradient(0deg, #02779A, #02779A);
}

/* ----------- Registration fee table --------- */
.table_container {
    width: 100%;
    height: max-content;
    margin-top: 20px;
}

table {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

table th {
    height: 90px;
    color: #fff;
    margin: 0px 20px;
}

.registration_fee_table tr:nth-child(even) {
    background-color: #EAEAEA;
}

table thead tr {
    height: 40px;
    background: var(--Cyan-Colour, #008a82);
}

table tbody tr {
    color: var(--dark-color);
    height: 90px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    white-space: nowrap;
}

/* -------- Delegates --------- */
.delegates_container {
    margin-top: 65px;
}

.early_bard_col {
    width: 294px;
}

.plan_col {
    width: 394px;
}

.delegates_fee_table tr:nth-child(odd) {
    background-color: #EAEAEA;
}

.full_banner {
    width: 100%;
    height: 47px;
    background: #8F0D0B;
}

.full_banner p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 12px 0px;
}

/* ------------ Payment Method -------------- */
.payment_mode .line_2 {
    background-color: #7cdb31;
    height: 2px;
    width: 30%;
    margin-bottom: 20px;
}

/* ------------------- Radio Icon ----------- */
.radio-list {
    list-style: none;
    padding-left: 0;
    margin-top: 32px;
}

.radio-list li {
    display: flex;
    position: relative;
    margin-bottom: 16px;
}

.radio-list li:before {
    content: "";
    flex-shrink: 0;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #02B0E3;
    border-radius: 50%;
    margin-top: 5.5px;
    animation: blinkRadio 2s infinite;
}

@keyframes blinkRadio {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #02B0E3;
    }

    100% {
        background-color: transparent;
    }
}

.full_banner_gradient {
    width: 100%;
    height: 47px;
    background: linear-gradient(90deg, #008a82 28.58%, #3a29ab 84.03%);
}

.full_banner_gradient p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 12px 0px;
}

.full_banner_gradient .colored_text {
    color: #70FF00;
}

.full_banner_gradient .mail_link {
    text-decoration: none;
}

.refund_policy {
    margin-top: 60px;
}

/* --------------- Mobile ----------- */
@media (200px <=width <=600px) {
    .main_container .line {
        width: 90%;
        margin-inline: auto;
    }
    .title_container .title_wrapper {
        width: 100%;
    }
    .title_container .title_wrapper .primary_heading {
        text-align: center;
    }
    .btn_reg_container {
        display: none;
    }
}

/* ------------- Tablet --------------*/
@media (601px <=width <=997px) {}