.main_container{
    margin-top: 60px;
    margin-bottom: 60px;
}

.line {
    background-color: #7cdb31;
    height: 2px;
    width: min(95%, 450px);
    margin-bottom: 20px;
  }

.photo_container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px 16px;
    flex-wrap: wrap;
    margin-top: 64px;
}

@media (200px <=width <=600px) {
    .photo_container {
        margin-top: 40px;
        justify-content: flex-start;
    }
    .photo_container {
      gap: 30px 16px;
    }
  }


