.main_container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.main_container .primary_heading {
    text-align: center;
}
.main_container .line {
  margin-inline: auto;
  background-color: #7cdb31;
  height: 2px;
  width: min(95%, 400px);
  margin-bottom: 20px;
}

.content_wrapper {
    margin-left:20px;
    margin-right: 10px;
}
.content_wrapper li {
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
}

.content_wrapper li strong {
    font-weight: 600;
}

@media (200px <=width <=600px) {
    .content_wrapper li {
        padding: 10px 0px;
    }
}

@media (601px <=width <=997px) {
    .content_wrapper li {
        padding: 10px 0px;
    }
}