.main_container {
    margin-top: 60px;
    margin-bottom: 32px;
}

.main_container .line {
    background-color: #7cdb31;
    margin-inline: auto;
    height: 2px;
    width: min(65%, 450px);
    margin-bottom: 10px;
}

.title_wrapper {
    position: relative;
}

.gold_cup_1 {
    position: absolute;
    top: -30%;
    left: 15%;
    height: 113px;
}

.gold_cup_2 {
    position: absolute;
    top: -30%;
    right: 16%;
    height: 113px;
}

@keyframes hideAndShow {

    0%,
    25% {
        opacity: 1;
    }

    50%,
    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gold_cup_1,
.gold_cup_2 {
    animation: hideAndShow 4s infinite;
}

.page_title,
.secondary_heading {
    text-align: center;
}

.main_container .para {
    color: #8F0D0B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 16px;
}

.content_wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 50px 80px;
    margin-top: 88px;
}

.content_container {
    width: 70%;
}

.img_container {
    width: 30%;
    height: 360px;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_container .colored_text {
    color: #8F0D0B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.link_text {
    color: #02B0E3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

.content_container .btn_application_form {
    text-decoration: none;
    display: inline-block;
    margin-top: 24px;
    padding: 12px 24px;
    background: #37ACEC;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn_application_form:hover {
    background: linear-gradient(0deg, #02779A, #02779A),
        linear-gradient(0deg, #02779A, #02779A);
}

/* --------- Gradient Banner ------- */
.full_banner_gradient {
    width: 100%;
    height: 47px;
    background: linear-gradient(90deg, #008a82 28.58%, #3a29ab 84.03%);
    margin-bottom: 40px;
}

.full_banner_gradient p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 12px 0px;
}

.btn_container {
    width: 100%;
    height: max-content;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn_container .wrapper {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.btn_data_sheet {
    text-decoration: none;
    padding: 12px 24px;
    background: #fff;
    border: 2px solid #37ACEC;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
    text-align: center;
}

.btn_data_sheet:hover {
    background: #37ACEC;
    color: #fff;
}

.btn_guidelines {
    text-decoration: none;
    padding: 13px 24px 10px 24px;
    background: #37ACEC;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.btn_guidelines:hover {
    background: linear-gradient(0deg, #02779A, #02779A),
        linear-gradient(0deg, #02779A, #02779A);
}


/* --------------- Mobile ----------- */
@media (200px <=width <=600px) {
    .gold_cup_1 {
        top: -5%;
        left: -5%;
        height: 65px;
    }

    .gold_cup_2 {
        top: -5%;
        right: -5%;
        height: 65px;
    }

    .title_wrapper .primary_heading {
        width: 65%;
        text-align: center;
        margin: 0px auto;
    }

    .main_container .para {
        font-size: 14px;
    }

    .content_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .content_container {
        width: 100%;
    }

    .img_container {
        width: 100%;
        margin-bottom: 25px;
    }

    .main_container .colored_text {
        font-size: 14px;
    }

    .link_text {
        font-size: 14px;
    }

    .full_banner_gradient {
        height: max-content;
    }

    .full_banner_gradient p {
        font-size: 14px;
    }

    .btn_container .wrapper {
        flex-direction: column;
    }
}


/* --------------- Tablet ----------- */
@media (601px <=width <=997px) {
    .main_container .line {
        width: min(50%, 450px);
    }

    .gold_cup_1 {
        top: -30%;
        left: 5%;
        height: 75px;
    }

    .gold_cup_2 {
        top: -30%;
        right: 5%;
        height: 75px;
    }

    .content_wrapper {
        flex-direction: column;
        margin-top: 40px;
    }

    .content_container {
        width: 100%;
    }

    .img_container {
        width: 100%;
        display: none;
    }

    .full_banner_gradient {
        height: max-content;
    }

    .btn_guidelines {
        padding: 14px 24px 10px 24px;
    }
}