.main_container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.main_container .line {
    background-color: #7cdb31;
    margin-inline: auto;
    height: 2px;
    width: 35%;
    width: min(100%, 450px);
    margin-bottom: 10px;
}

.page_title {
    text-align: center;
}

.img_container {
    width: 100%;
    height: max-content;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.top_img_container {
    order: 1;
}
.middle_img_container {
    order: 2;
}
.bottom_img_container {
    order: 3;
}


.top_img_container,
.bottom_img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.top_img_container .img_wrapper,
.bottom_img_container .img_wrapper {
    width: 400px;
    height: auto;
    object-fit: cover;
}


.top_img_container .img_wrapper img,
.bottom_img_container .img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_container .middle_img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 100px;
}

.middle_img_container .img_wrapper {
    width: 475px;
    height: auto;
}

.middle_img_container .img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* --------------- Mobile ----------- */
@media (200px <=width <=600px) {
    .img_container {
        gap: 50px;
    }
    .top_img_container {
        order: 1;
        gap: 50px;
    }
    .middle_img_container {
        order: 3;
    }
    .bottom_img_container {
        order: 2;
        gap: 50px;
    }
}



