.main_container {
    margin-top: 60px;
    margin-bottom: 32px;
}

.main_container .line {
    background-color: #7cdb31;
    margin-inline: auto;
    height: 2px;
    width: 35%;
    margin-bottom: 10px;
}

.title_wrapper {
    position: relative;
}

.gold_cup_1 {
    position: absolute;
    top: -30%;
    left: 18%;
    height: 113px;
}

.gold_cup_2 {
    position: absolute;
    top: -30%;
    right: 20%;
    height: 113px;
}

@keyframes hideAndShow {

    0%,
    25% {
        opacity: 1;
    }

    50%,
    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gold_cup_1,
.gold_cup_2 {
    animation: hideAndShow 4s infinite;
}

.page_title,
.secondary_heading {
    text-align: center;
}

.main_container .para {
    color: #8F0D0B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 16px;
}

.content_wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 80px;
    margin-top: 88px;
}

.content_container {
    width: 70%;
}

.img_container {
    width: 30%;
    height: 360px;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_container .para_1 {
    font-weight: 600 !important;
}
.main_container .colored_text {
    color: #8F0D0B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.main_container .para_text {
    font-weight: 500;
}

.link_text {
    color: #02B0E3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

/* --------- Gradient Banner ------- */
.full_banner_gradient {
    width: 100%;
    height: 47px;
    background: linear-gradient(90deg, #008a82 28.58%, #3a29ab 84.03%);
    margin-bottom: 40px;
}

.full_banner_gradient p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 12px 0px;
}

.btn_container {
    width: 400px;
    height: 54px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.btn_data_sheet {
    padding: 12px 24px;
    background: #fff;
    border: 2px solid #37ACEC;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
}

.btn_data_sheet:hover {
    background: #37ACEC;
    color: #fff;
}

.btn_guidelines {
    padding: 12px 24px;
    background: #37ACEC;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.btn_guidelines:hover {
    background: linear-gradient(0deg, #02779A, #02779A),
        linear-gradient(0deg, #02779A, #02779A);
}