.main_container {
    margin-top: 60px;
    margin-bottom: 32px;
}

.main_container .line {
    background-color: #7cdb31;
    margin-inline: auto;
    height: 2px;
    width: min(55%, 450px);
    margin-bottom: 10px;
}

.title_wrapper {
    position: relative;
}

.gold_cup_1 {
    position: absolute;
    top: -30%;
    left: 14%;
    height: 113px;
}

.gold_cup_2 {
    position: absolute;
    top: -30%;
    right: 14%;
    height: 113px;
}

@keyframes hideAndShow {

    0%,
    25% {
        opacity: 1;
    }

    50%,
    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gold_cup_1,
.gold_cup_2 {
    animation: hideAndShow 4s infinite;
}


.page_title,
.secondary_heading {
    text-align: center;
}

.main_container .para {
    color: #8F0D0B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 16px;
}

.guide_line_wrapper {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 48px;
}

.guide_line_wrapper h3 {
    color: var(--dark-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 67px;
    text-decoration: underline;
}

.content_wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 50px 80px;
}

.text_wrapper {
    width: 80%;
    height: max-content;
}

.img_wrapper {
    width: 20%;
    height: 360px;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_wrapper ul {
    padding-left: 20px;
}

.text_wrapper ul li {
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
}

.text_wrapper .colored_text {
    color: #8F0D0B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.link_text {
    color: #02B0E3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

/* --------- Gradient Note ------- */
.full_banner_gradient {
    width: 100%;
    height: 47px;
    background: linear-gradient(90deg, #008a82 28.58%, #3a29ab 84.03%);
    margin-bottom: 40px;
}

.full_banner_gradient p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 12px 0px;
}

.btn_container {
    width: 100%;
    height: max-content;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn_container .wrapper {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.btn_guidelines {
    text-decoration: none;
    padding: 14px 24px 10px 24px;
    background: #37ACEC;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.btn_guidelines:hover {
    background: linear-gradient(0deg, #02779A, #02779A),
        linear-gradient(0deg, #02779A, #02779A);
}


/* --------------- Mobile ----------- */
@media (200px <=width <=600px) {
    .gold_cup_1 {
        top: -30%;
        left: 0%;
        height: 65px;
    }

    .gold_cup_2 {
        top: -30%;
        right: 0%;
        height: 65px;
    }

    .main_container .para {
        font-size: 14px;
    }

    .guide_line_wrapper h3 {
        padding-bottom: 40px;
    }

    .content_wrapper {
        flex-direction: column;
    }

    .text_wrapper {
        width: 100%;
    }

    .img_wrapper {
        width: 100%;
    }

    .text_wrapper ul li {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
    }

    .link_text {
        font-size: 14px;
    }

    .full_banner_gradient {
        height: max-content;
    }

    .full_banner_gradient p {
        font-size: 14px;
        padding: 12px 10px;
    }

    .text_wrapper .colored_text {
        font-size: 14px;
    }

    .para_text {
        font-size: 14px;
    }

    .btn_container .wrapper {
        flex-direction: column;
    }

}



/* --------------- Tablet ----------- */
@media (601px <=width <=997px) {
    .main_container .line {
        width: min(40%, 450px);
    }

    .gold_cup_1 {
        top: -30%;
        left: 15%;
        height: 75px;
    }

    .gold_cup_2 {
        top: -30%;
        right: 15%;
        height: 75px;
    }

    .guide_line_wrapper h3 {
        padding-bottom: 40px;
    }

    .text_wrapper {
        width: 100%;
    }

    .text_wrapper ul li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .img_wrapper {
        display: none;
    }

    .full_banner_gradient {
        height: max-content;
    }

    .full_banner_gradient p {
        padding: 12px 10px;
    }

    .btn_guidelines {
        padding: 14px 24px 10px 24px;
    }
}