.main_container {
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 200px;
    height: calc(100vh - 580px) !important;
}

.main_container .primary_heading {
    text-align: center;
}

.main_container .line {
    margin-inline: auto;
    background-color: #7cdb31;
    height: 2px;
    width: min(95%, 400px);
    margin-bottom: 20px;
}

.main_container p {
    text-align: center;
}

.main_container .link_text {
    color: #02B0E3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
}


/* --------------- Mobile ----------- */
@media (200px <=width <=600px) {
    .main_container {
        height: calc(100vh - 552px);
    }
}


/* ------------- Tablet --------------*/
@media (601px <=width <=997px) {
    .main_container {
        height: calc(100vh - 635px);
    }
}