.main_container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.main_container .primary_heading {
    text-align: center;
}

.main_container .line {
    margin-inline: auto;
    background-color: #7cdb31;
    height: 2px;
    width: min(95%, 350px);
    margin-bottom: 20px;
}

/* ------- Contact  -------- */
.contact_wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 60px;
    margin-top: 70px;
}

.map_container {
    width: 41%;
    height: max-content;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.123);
    order: 1;
}

.form_container {
    width: 55%;
    height: 600px;
    order: 2;
}

.contact_form {
    width: 100%;
    height: 100%;
    position: relative;
}

.contact_form .row {
    display: flex;
    width: 100%;
    margin-top: 20px;
    gap: 15px 20px;
}

.row .field {
    width: 47%;
}
.row input {
    padding: 0px 0px 4px 0px;
    margin-top: 8px;
    width: 100%;
    font-weight: 400;
    border: none;
    outline: none;
    border-bottom: 1px solid #a7a7a7;
}
.contact_form .row:nth-child(2) {
    margin-top: 50px;
}

.row label, .message_label {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 1.3em;
    color: var(--dark-color);
} 

.subject_wrapper {
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.subject_wrapper label {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
    color: #011C2A;
}

.subject_wrapper p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3em;
    color: var(--dark-color);
}

.contact_form .message {
    padding: 8px 0px 4px 0px;
    margin-top: 8px;
    max-width: 100%;
    font-weight: 400;
    border: none;
    outline: none;
    border-bottom: 1px solid #a7a7a7;
}

.radio_group_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 24px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.radio_1,
.radio_2,
.radio_3 {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

form  ::placeholder {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3em;
    color: rgba(0, 0, 0, 0.348);
}

.contact_form .btn_send {
    padding: 12px 0px;
    background: #02B0E3;
    border: none;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    bottom: 20%;
    width: 150px;
}

.contact_form .btn_send:hover {
    background: linear-gradient(0deg, #02779A, #02779A),
    linear-gradient(0deg, #02779A, #02779A);
} 

.airplane_container {
    width: 246px;
    height: 115px;
    margin-top: 30px;
    margin-left: 50px;
}

.airplane_container img {
    width: 100%;
    height: 100%;
}

/* --------------- Mobile ----------- */
@media (200px <=width <=600px) {
    .contact_wrapper {
        flex-direction: column;
    }
    .map_container {
        width: 100%;
        order: 2;
    }
    .form_container {
        width: 100%;
        padding: 0px 10px;
        order: 1;
        height: 650px;
    }
    .contact_form .row {
        flex-direction: column;
    }
    .row .field {
        width: 100%;
    }
    .contact_form .row:nth-child(2) {
        margin-top: 20px;
    }
    .contact_form .btn_send {
        position: absolute;
        left: 50%;
        bottom: -50%;
        transform: translateX(-50%);
    }
    .airplane_container {
        display: none;
    }

}


/* ------------- Tablet --------------*/
@media (601px <=width <=997px) {
    .contact_wrapper {
        flex-direction: column;
    }
    .map_container {
        width: 100%;
        order: 2;
    }
    .form_container {
        order: 1;
        width: 100%;
        height: 520px;
    }

}