.main_container{
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 580px);
    min-height: 200px;
}

.line {
    background-color: #7cdb31;
    height: 2px;
    width: min(95%, 400px);
    margin-bottom: 20px;
  }