.main_container{
    margin-top: 60px;
    margin-bottom: 60px;
}

.main_container .primary_heading {
    text-align: center;
}
.main_container .line {
  margin-inline: auto;
  background-color: #7cdb31;
  height: 2px;
  width: min(95%, 400px);
  margin-bottom: 20px;
}

.program_poster_wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 70px;
}
.yakshagana_container, .dj_dancing_container {
    width: min(100%, 628px) ;
}

.title_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.radio:before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #02B0E3;
    border-radius: 50%;
    animation: blinkRadio 2s infinite;
    display: inline-block;
}

@keyframes blinkRadio {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: #02B0E3;
    }

    100% {
        background-color: transparent;
    }
}

.yakshagana_container .line, 
.dj_dancing_container .line {
    /* width: 50%; */
    width: min(95%, 300px);
    margin-inline: auto;
    background-color: #7cdb31;
    height: 2px;
    margin-bottom: 20px;
}

.yakshagana_container .img_wrapper, 
.dj_dancing_container .img_wrapper {
    width: 100%;
    height: max-content;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* --------------- Mobile ----------- */
@media (200px <=width <=600px) {
    .program_poster_wrapper {
        margin-top: 30px;
    }
}


/* ------------- Tablet --------------*/
@media (601px <=width <=997px) {
    .program_poster_wrapper {
        margin-top: 30px;
    }
}



